* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-hero {
    height: 60vh;
    object-fit: cover;
}

.hero::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.hero {
    position: relative;
}

.hero p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
    font-size: 64px;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .hero p {
        font-size: 50px;
    }
}

@media screen and (max-width:720px) {
    .hero p {
        font-size: 40px;
    }
}